# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.log
*.zip
*.tar.gz
electron/dist/
electron/node_modules/
electron/*.log
electron/*.zip
electron/*.tar.gz
lib/
*.db
*.sqlite
*.sqlite3
*.bak
*.backup
*.tmp
*.swp
*.swo
*.DS_Store
.env
include
models
.venv/
bin/
lib/
Opt.md
.git